*.pdf
*.xlsx
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.tex
*.gz
*.bin
*.json
*.zip
/get_data/pdf_contents
/get_data/test_txt
/get_data/*.txt
/document
/mydata
/retained_data
/token_model
/transformers_model
/transNMT_model
